{% extends 'events/base.html' %}

{% block title %} Add Timing {% endblock %}

{% block nav_bar_contents %}
<a href="{% url 'events:events-list-date-filter' %}" class="btn btn-outline-secondary ml-2">Home</a>
{% endblock %}

{% block content %}
<div class="mb-4">
</div>

<ol class="breadcrumb my-4">
    <li class="breadcrumb-item"> <a href="{% url 'events:event-view' event.id %}"> {{ event.title }} </a> </li>
    <li class="breadcrumb-item"> timing </li>
    <li class="breadcrumb-item active"> add </li>
</ol>
<form method="post" novalidate>
    {% csrf_token %}
    {% include 'events/includes/form.html' %}
    <input type="submit" class="btn btn-success" value="Add">
    <a href="{% url 'events:event-view' event.id %}" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}