{% extends 'events/base.html' %}

{% block title %} Create Event {% endblock %}

{% block nav_bar_contents %}
<a href="{% url 'events:events-list-date-filter' %}" class="btn btn-outline-secondary ml-2">Home</a>
{% endblock %}

{% block content %}
<div class="mb-4">
</div>

<form method="post" novalidate>
    {% csrf_token %}
    {% include 'events/includes/form.html' %}
    <input type="submit" class="btn btn-success" value="Create">
    <a href="{% url 'events:events-list-date-filter' %}" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}