{% extends 'events/base.html' %}

{% load humanize %}

{% load places_filters %}

{% block title %} Events {% endblock %}

{% block css %}

.filter_options {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}

{% endblock %}

{% block content %}

<div class="mb-4">
</div>

<div class="filter_options">
    <label for="id_filter_options">Filter by:</label>
    <select id="id_filter_options" onchange="location = this.options[this.selectedIndex].value;" class="form-control is-valid">
        <option value="{% url 'events:events-list-date-filter' %}" {% if date_filter %} selected {% endif %} >
            Date
        </option>
        <option value="{% url 'events:events-list-month-filter' %}" {% if month_filter %} selected {% endif %} > Month </option>
        <option value="{% url 'events:events-list-year-filter' %}" {% if year_filter %} selected {% endif %} > Year </option>
</select>
</div>

{% if form %}
<form method="get">
    {% include 'events/includes/form.html' %}
    <input type="submit" class="btn btn-success" value="Filter"/>
</form>
{% endif %}

<table class="table table-striped mb-4">
    <thead class="thead-dark">
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Created by</th>
        <th>Created on</th>
      </tr>
    </thead>
    <tbody>
    {% for event in events %}
    <tr>
        <td>
            <a href="{% url 'events:event-view' event.id %}">{{ event.title }}</a>
        </td>
        <td>
            {{ event.date }}
        </td>
        <td>
            {{ event.created_by.username|empty_filter:"&lt;Anonymous User&gt;" }}
        </td>
        <td>
            {{ event.created }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}