{% extends 'movies/base.html' %}

{% block title %} Director {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'movies:movie-list' %}">Movies</a></li>
<li class="breadcrumb-item"><a href="{% url 'movies:director-list' %}">Directors</a></li>
<li class="breadcrumb-item active">{{ director.id }}</li>
{% endblock %}

{% block content %}
<h4> {{ director.first_name }} {{ director.middle_name }} {{ director.last_name }} </h4>
<div class="dropdown-divider"></div>
<div>
    Gender:
    {% if director.gender == 1 %}
    Male
    {% else %}
    Female
    {% endif %}
</div>
<div>
    DOB: {{ director.birth_date }}
</div>
{% if director.movies.exists %}
<div>
    Movies:
    {% for movie in director.movies.all %}
    <a href="{% url 'movies:movie-detail-view' movie.slug %}"> {{ movie.title }} </a> ,
    {% endfor %}
</div>
{% endif %}
<div>
    website: <a href="{{ director.website }}"> {{ director.website }} </a>
</div>
{% endblock %}