dialog #pop_up_dialog {
    border: 0;
    border-radius: 8px;
    bottom: 50%;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.24);
    color: inherit;
    overflow-y: hidden;
    padding: 0;
    top: 50%;
    width: 512px;
}

#list {
    box-shadow: var(--cr-card-elevation_-_box-shadow);
    background-color: white;
    border-radius: var(--cr-card-border-radius);
    margin: 0 auto;
    max-width: var(--card-max-width);
    padding: 8px 0;
}