{% extends 'bookmarks/base.html' %}

{% block content %}
<div class="mb-4">
</div>

{% for bookmark in bookmarks %}
<div class="bookmark">
    <div class="inline" onclick="console.log('At div');">
        <span class="clickable">{{ bookmark.name }}</span>
        <a href="{{ bookmark.url }}" class="clickable" style="margin-left:30px;"> {{ bookmark.url }} </a>
    </div>
    <div class="inline option">
        <div class="drop-left-menu-ref" onclick="onDropLeftDivClick('myDropdown_{{ bookmark.id }}')">
                <div id="myDropdown_{{ bookmark.id }}" class="dropdown-content">
                    <a href="#">Edit bookmark</a>
                    <form method="post" action="{% url 'bookmarks:bookmark-delete-view' bookmark.id %}" id="remove_form">
                        {% csrf_token %}
                        <a onclick="document.forms['remove_form'].submit();">Remove Bookmark</a>
                    </form>
                </div>
            </div>
    </div>
</div>
{% endfor %}
<div id="my_dialog" class="my-dialog-close">
    <div class="w-100 dialog-title-bar bg-dark">
        <div class="title inline">
            Untitled
        </div>
    </div>
    <div class="dialog_viewport">
    </div>
</div>
{% endblock %}
