{% extends 'books/base.html' %}

{% block title %} Edit Author {% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'books:books-list' %}">Books</a></li>
  <li class="breadcrumb-item"><a href="{% url 'books:books-author-list' %}">Authors</a></li>
  <li class="breadcrumb-item active">edit</li>
{% endblock %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    {% include 'books/includes/form.html' %}
    <input type="submit" class="btn btn-success" value="Save">
    <a href="{% url 'books:books-author-list' %}" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}