{% extends 'books/base.html' %}

{% block title %} Create Genre {% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="#">Books</a></li>
  <li class="breadcrumb-item"><a href="#">Genres</a></li>
  <li class="breadcrumb-item active">create</li>
{% endblock %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    {% include 'books/includes/form.html' %}
    <input type="submit" class="btn btn-success" value="Add">
    <a href="{% url 'books:books-list' %}" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}